.navbar {
    height: 3.5rem;
    border: 1px solid rgba(0, 0, 0, 0.226);
    width: 100%;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 2rem;
    position: sticky;
    background-color: white;
    top: 0;
}
.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 8px;
    flex: 1;
}
.searchbar input {
    font-size: 1rem;
    border: none;
    outline: none;
}

@media screen and (max-width:768px){
    .navbar {
        
    }
    .searchbar { 
        width: 1rem;
    }
    .searchbar input {
        width: 100%;
    }
}